<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <!-- add tag page logo -->
    <link rel="stylesheet" href="aboutus.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://img.freepik.com/free-photo/tea-plantation-south-korea-bright-green-bushes-are-green-tea_1101-2475.jpg?size=626&ext=jpg"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="blackdrop"></div>
    <div class="background"></div>
    <a href="/">
      <div class="logo">
        <img
          src="https://i.pinimg.com/originals/80/b0/ab/80b0ab09f5bcf59d9e51c2bc404862b3.png"
          alt=""
          class="logo_img"
        />
      </div>
    </a>
    <span id="content1">The first line.</span
    ><span id="content2">The second line.</span>
    <p class="message__one">We are an organic and high-end</p>
    <p class="message__two">tea company from Montreal, QC</p>
    <a href="shop" class="shop__btn">
      <button class="shop__btn-1">Shop</button>
    </a>
    <button class="aus__btn-1">About Us</button>
    <p class="description">
      Our high end products come from local farmers that work with the latest
      technologies in tea processing and harvesting. Our varieties come from
      exotic places all around the world, including China, Indonesia, Argentina,
      Cameroon, and New Zealand.
    </p>
  </body>
</html>
