<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tea Shop</title>
    <!-- add tag page logo -->
    <link rel="stylesheet" href="landing.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="background"></div>
    <div class="logo">
      <img
        src="https://i.pinimg.com/originals/80/b0/ab/80b0ab09f5bcf59d9e51c2bc404862b3.png"
        alt=""
        class="logo_img"
      />
    </div>

    <h1 class="message__welcome-two">Enjoy Our Varieteas!</h1>
    <a href="shop" class="shop__btn">
      <button class="shop__btn-1">Shop</button>
    </a>
    <a href="about-us" class="aus__btn">
      <button class="aus__btn-1">About Us</button>
    </a>
  </body>
</html>
